---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Template1">
	<Header />
    <main>
        <section class="primary-section max-width">
            <h2 class="primary-section-title">Heading</h2>
            <div class="primary-section-articles">
                <article>
                    <h3 class="primary-section-subtitle">Heading</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="link" href="#">Read more ></a>
                </article>
                <article>
                    <h3 class="primary-section-subtitle">Heading</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="link" href="#">Read more ></a>
                </article>
                <article>
                    <h3 class="primary-section-subtitle">Heading</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a class="link" href="#">Read more ></a>
                </article>
            </div>
        </section>
        <section class="banner">
            <h2 class="banner-text">llorem ipsum dolor sit amet.</h2>
            <button class="button center">CALL TO ACTION</button>
        </section>
        <section class="gallery max-width">
            <div class="gallery-images max-width">
                <img width="350" height="250" src="/exampleimg.webp" alt="#">
                <img width="350" height="250" src="/exampleimg.webp" alt="#">
                <img width="350" height="250" src="/exampleimg.webp" alt="#">
            </div>
            <a class="button center" href="#top">BACK TO TOP</a>
        </section>
    </main>
    <Footer/>
</Layout>

<style>
.primary-section {
    color: var(--color-dark);
    margin: 3rem auto 6rem;
}

.primary-section-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

.primary-section-title {
    grid-column: 1 / 4;
}

.link {
    color: var(--color-primary);
    font-weight: 700;
    line-height: 150%;
}

.banner {
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  var(--color-dark) 0%, rgb(0, 0, 0) 81.3% );
    color: var(--color-light);
    text-align: center;
    padding: 6rem;
}

.banner-text {
    margin-bottom: 2rem;
}

.gallery {
    margin: 6rem auto 6rem;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 6rem;
}

.gallery-images img {
    width: 100%;
    object-fit: cover;
}

.center {
    margin: 0 auto;
}

@media screen and (max-width: 1050px) {
    .gallery-images {
        grid-template-columns: 1fr;
    }

    .primary-section-title {
        text-align: center;
        margin-bottom: 2rem;
    }

    .primary-section-articles {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 780px) {
    .primary-section-articles {
        grid-template-columns: 1fr;
    }

    .gallery-images {
        grid-template-columns: 1fr;
    }

    .gallery-images img {
        width: 100%;
    }
}

</style>