<footer>
    <div class="footer-content max-width">
        <div>
            <h2 class="website-name">WEBSITE NAME</h2>
            <p>email@gmail.com</p>
            <p>0412589536</p>
            <p>Adresstraat 15, 5666 Lekers, Belgium</p>
        </div>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-credit max-width">
        <p>© 2023 WEBSITE NAME. All rights reserved. Created by - <a href="#">Jago Onzea</a></p>
    </div>
</footer>

<style>
    .website-name {
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    footer a {
        color: var(--color-light);
        text-decoration: none;
        line-height: 200%;
    }
     
    footer {
        background-color: var(--color-dark);
        color: var(--color-light);
    }
    
    .footer-content {
        padding: 4rem 0 4rem;
        display: flex;
        justify-content: space-between;
    }

    .footer-content div, .footer-content ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    footer ul {
        list-style: none;
        text-align: end;
    }
    
    .footer-credit {
        display: flex;
        justify-content: center;
        padding: 0 0 1rem;
    }
    
    @media screen and (max-width: 550px) {
        .footer-content {
            flex-direction: column;
        }
        footer ul {
            margin-top: 2rem;
            text-align: start;
        }
    
        .footer-credit {
            text-align: center;
        }
    }
    
    @media screen and (max-width: 400px) {
        .footer-credit p{
            font-size: 0.8rem;
            max-width: 250px;
        }
    }

</style>